.page {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: 23.4px;
    background-image: var(--background-image);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    height: 100vh;
    min-height: 668px;
    position: relative;
    align-items: center;
    padding: 10px;
    margin-bottom: 40px;
}

.header__theme-menu {
    justify-self: end;
}

.header__theme-menu-list {
    display: grid;
    gap: 13px;
}

.header__theme-menu-button {
    cursor: pointer;
    padding: 1.5px 13px;
    background-color: transparent;
    border: none;
    text-transform: lowercase;
    font-size: var(--font-size);
    color: var(--btn-color);
    line-height: 100%;
}

.header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid var(--btn-color);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--btn-color);
}

.header__theme-menu-button:hover {
    border: 1px solid var(--border-color);
}

.custom__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 83%;
    text-shadow: 4px 4px var(--shadow);
    color: var( --custom-title-color);
    
    font-weight: bold;
}

.header__text {
    font-size: var(--font-size);
    font-weight: bold;
    color: var(--main-bg-color);
    background-color: var(--title-bg-color);
}

.rectangle::before {
    content: "";
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
    border-top: 1px solid var(--rectangle-color);
    border-right: 1px solid var(--rectangle-color);
    top: 10px;
    right: 10px;
}

.rectangle::after {
    content: "";
    position:absolute;
    inline-size: 25px;
    block-size: 25px;
    border-bottom: 1px solid var(--rectangle-color);
    border-left: 1px solid var(--rectangle-color);
    bottom: 10px;
    left: 10px;
}

.lamp {
    position: absolute;
    top: 10px;
    right: 19px;
    content: "";
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--rectangle-color);
    text-align: center;
    text-transform: uppercase;
}

.lamp::after {
    display: block;
    content: "";
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    background-color: var(--rectangle-color);
    fill: var(--accent-color);
    box-shadow: 0 0 4px 2.5px var(--rectangle-color);
}

.content {
    display: grid;
    gap: 50px;
    padding: 0 10px 0;
}

.content-section {
    font-size: var(--font-size);
    font-style: var(--font-weight);
    line-height: 23.4px;
}

.content-section__title {
    color: var(--section-title-color);
    font-weight: 700;
    font-size: var(--font-size);
}

.block__title {
    background-color: var(--title-bg-color);
    color:var(--main-bg-color);
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 700;
    font-size: var(--font-size);
}

.text-block {
    display: grid;
}

.text-block__content {
    color: var(--text-color);
    line-height: 23.4px;
}

.text-block__subtitle {
    background-color: var(--title-bg-color);
    color:var(--main-bg-color);
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: var(--font-weight);
}

.word-link {
    text-shadow: 2px 1px 0 var(--shadow);
    text-decoration: none;

}

.word-link:focus {
    outline: none;
}

.word-link:focus-visible {
    outline: 1px solid var(--text-color);
}

.word-link:hover {
    border-bottom: 1px solid var(--text-color);
    cursor: pointer;
}


.block__title-recommendations {
    margin-top: 20px;
    margin-bottom: 0;
}

.gallery__title {
    margin: 0 0 10px 0;
}
.gallery-list {
    display: grid;
    grid-template-columns: 1fr;
}

.gallery-list__item {
    list-style-type: none;
    margin-bottom: 10px;
}

.gallery-image {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.footer {
    display: flex;
    height: 100vh;
    min-height: 668px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


@media (width >= 768px) {
    .header {
        min-height: 1024px;
        padding: 20px 20px 20px 0;
        margin-bottom: 60px;
    }

    .header__text {
        justify-self: right;
        width: calc(50% - 10px);
    }

    .custom__title {
        font-size: clamp(7.5rem, 0.563rem + 14.453vw, 15rem);
    }
    
    .lamp {
        top: 20px;
        right: 29px;
    }

    .rectangle::before {
        top: 20px;
        right: 20px;
    }

    .rectangle::after {
        bottom: 20px;
        left: 20px;
    }

    .content {
        gap: 60px;
        padding: 0 20px 0;
    }

    .content-section__title {
        max-width: 236px;
        margin-bottom: 20px;
    }

    .content-section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }

    .section-concentration {
        display: block;
    }

    .block__title {
        margin: 0;
    }

    .text-block__subtitle {
        margin: 0;
    }
    
    .text-block__content {
        margin: 10px 0 20px 0;
    }

    .block__title-recommendations {
        margin-bottom: 20px;
    }

    .gallery__title {
        margin-bottom: 20px;
    }

    .gallery-list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        column-gap: 20px;
        row-gap: 20px;
    }

    .gallery-list__item {
        margin-bottom: 0;
    }

    .sunset_image {
        grid-column: 1 / 3;
    }

    .ice-cream_image {
        grid-row: 1 / 3;
        grid-column: 3 / 4;
    }

    .tape_image {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }

    .street-image {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }

    .footer {
        margin-top: 60px;
    }
}

@media (width >= 1024px) {
    .header {
        min-height: 768px;
    }

    .header__theme-menu {
        display: flex;
        justify-self: center;
        align-self: start;
    }

    .header__theme-menu-list {
        grid-auto-flow: column;
        padding-left: 21px;
        gap: 11px;
    }

    .section-concentrate {
        gap: 10px;
    }

    .section-goldfish {
        gap: 10px;
    }

    .content-section__title {
        min-width: 315px;
    }

    .text-block-concentration {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        align-items: start;
    }
    }









